body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

section {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}

section span#expenseValue {
  font-weight: bold;
}

section#messageContainer {

  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 50px;
}

.progress {
  margin-left: auto;
  margin-right: auto;

  width: 700px;
}

span.entry-positive {
  color: #00FF00;
}

span.entry-negative {
  color: #FF0000;
}
